<div class="addContainer">
  <div *ngIf="!isDetails" class="contact-form">
    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">
          <!-- <img [src]='contacts.img' alt="avatar"> -->
          <div class="modal-about">
            <div class="font-weight-bold p-t-5 font-17">
              {{ dialogTitle }}
            </div>
          </div>
        </div>
      </div>
      <button
        mat-icon-button
        (click)="dialogRef.close()"
        aria-label="Close dialog"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <form
        class="register-form m-4"
        [formGroup]="workerForm"
        (ngSubmit)="(submit)"
      >
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
            <mat-form-field
              class="example-full-width mb-3"
              appearance="outline"
            >
              <mat-label>Primer Nombre</mat-label>
              <input matInput formControlName="firstName" required />
              <mat-error
                *ngIf="workerForm.get('firstName').hasError('required')"
              >
                El Nombre es requerido
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
            <mat-form-field
              class="example-full-width mb-3"
              appearance="outline"
            >
              <mat-label>Segundo Nombre</mat-label>
              <input matInput formControlName="secondName" />
            </mat-form-field>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
            <mat-form-field
              class="example-full-width mb-3"
              appearance="outline"
            >
              <mat-label>Primer Apellido</mat-label>
              <input matInput formControlName="firstLastname" required />
              <mat-error
                *ngIf="workerForm.get('firstLastname').hasError('required')"
              >
                El Apellido es requerido
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
            <mat-form-field
              class="example-full-width mb-3"
              appearance="outline"
            >
              <mat-label>Segundo Apellido</mat-label>
              <input matInput formControlName="secondLastname" />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
            <mat-form-field
              class="example-full-width mb-3"
              appearance="outline"
            >
              <mat-label>Cedula</mat-label>
              <input matInput formControlName="DNI" required />
              <mat-error *ngIf="workerForm.get('DNI').hasError('required')">
                La cedula es requerida
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
            <mat-form-field
              class="example-full-width mb-3"
              appearance="outline"
            >
              <mat-label>Telefono</mat-label>
              <input matInput formControlName="phone" required />
              <mat-error *ngIf="workerForm.get('phone').hasError('required')">
                El telefono es requerida
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
            <mat-form-field
              class="example-full-width mb-3"
              appearance="outline"
            >
              <mat-label>Correo</mat-label>
              <input matInput formControlName="email" />
              <mat-error *ngIf="workerForm.get('email').hasError('email')">
                El email no es valido
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field
              class="example-full-width mb-3"
              appearance="outline"
            >
              <mat-label>Fecha de emisión </mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="dateInit"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error
                *ngIf="workerForm.get('dateInit').hasError('required')"
              >
                Por favor selecciona una fecha
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field
              class="example-full-width mb-3"
              appearance="outline"
            >
              <mat-label>Fecha de vencimiento</mat-label>
              <input
                matInput
                [matDatepicker]="picker2"
                formControlName="dateEnd"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker2"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <mat-error *ngIf="workerForm.get('dateEnd').hasError('required')">
                Por favor selecciona una fecha
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field
              class="example-full-width mb-3"
              appearance="outline"
            >
              <mat-label>Tipo de Miembro</mat-label>
              <mat-select
                formControlName="workerType"
                placeholder="Tipo de Miembro"
                select
              >
                <mat-option value="0">
                  <mat-label> Taxista </mat-label>
                </mat-option>

                <mat-option value="1">
                  <mat-label> Colector </mat-label>
                </mat-option>
                <mat-option value="2">
                  <mat-label> Chofer </mat-label>
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="workerForm.get('workerType').hasError('required')"
              >
                El tipo de miembro es requerido
              </mat-error>
            </mat-form-field>
          </div>

          <div
            class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2"
            *ngIf="workerForm.get('workerType').value === '2'"
          >
            <mat-form-field
              class="example-full-width mb-3"
              appearance="outline"
            >
              <mat-label>Tipo de Miembro</mat-label>
              <mat-select formControlName="type" placeholder="Tipo" select>
                <mat-option value="1">
                  <mat-label> Avance </mat-label>
                </mat-option>
                <mat-option value="2">
                  <mat-label> Socio </mat-label>
                </mat-option>
                <mat-option value="3">
                  <mat-label> Presidente de linea </mat-label>
                </mat-option>
                <mat-option value="4">
                  <mat-label> Encargado Politico </mat-label>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
            <mat-form-field
              class="example-full-width mb-3"
              appearance="outline"
            >
              <mat-label>Numero de cert Medico</mat-label>
              <input matInput formControlName="medical" required />
              <mat-error *ngIf="workerForm.get('medical').hasError('required')">
                El certificado es requerido
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
            <mat-form-field
              class="example-full-width mb-3"
              appearance="outline"
            >
              <mat-label>Tipo de Licencia</mat-label>
              <mat-select
                formControlName="license"
                placeholder="Tipo de Licencia"
                select
              >
                <mat-option value="2">
                  <mat-label> 2da </mat-label>
                </mat-option>
                <mat-option value="3">
                  <mat-label> 3ra </mat-label>
                </mat-option>
                <mat-option value="4">
                  <mat-label> 4ta </mat-label>
                </mat-option>
                <mat-option value="5">
                  <mat-label> 5ta </mat-label>
                </mat-option>
                <mat-option value="6">
                  <mat-label> 6ta </mat-label>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="workerForm.get('license').hasError('required')">
                La licencia es requerida
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
            <mat-form-field
              class="example-full-width mb-3"
              appearance="outline"
            >
              <mat-label>Numero de socio</mat-label>
              <input
                type="number"
                matInput
                formControlName="membership"
                required
              />
              <mat-error
                *ngIf="workerForm.get('membership').hasError('required')"
              >
                El Numero es requerido y numerico
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
            <mat-form-field
              class="example-full-width mb-3"
              appearance="outline"
            >
              <mat-label>Organizacion</mat-label>
              <input matInput formControlName="organization" required />
              <mat-error
                *ngIf="workerForm.get('organization').hasError('required')"
              >
                La organization es requerida
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field
              class="example-full-width mb-3"
              appearance="outline"
            >
              <mat-label>Ruta</mat-label>
              <input matInput formControlName="route" required />
              <mat-error *ngIf="workerForm.get('route').hasError('required')">
                La ruta es requerida
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
            <mat-form-field
              class="example-full-width mb-3"
              appearance="outline"
            >
              <mat-label>Ausencias</mat-label>
              <input
                type="number"
                matInput
                formControlName="absences"
                required
              />
            </mat-form-field>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
            <mat-form-field
              class="example-full-width mb-3"
              appearance="outline"
            >
              <mat-label>Estatus</mat-label>
              <mat-select formControlName="status" placeholder="Estatus" select>
                <mat-option value="0">
                  <mat-label> Inactivo </mat-label>
                </mat-option>
                <mat-option value="1">
                  <mat-label> Activo </mat-label>
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="workerForm.get('workerType').hasError('required')"
              >
                El tipo de miembro es requerido
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field
              class="example-full-width mb-3"
              appearance="outline"
            >
              <mat-label>Direccion</mat-label>
              <input matInput formControlName="address" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field
              class="example-full-width mb-3"
              appearance="outline"
            >
              <mat-label>Observaciones</mat-label>
              <input matInput formControlName="observations" />
            </mat-form-field>
          </div>
        </div>

        <form class="register-form" [formGroup]="fileForm">
          <div class="row" *ngIf="!changedFile">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
              <div class="row">
                <mat-form-field>
                  <ngx-mat-file-input
                    formControlName="myFile"
                    [multiple]="false"
                    [accept]="'image/*'"
                    [color]="'primary'"
                    placeholder="Imagen"
                  >
                  </ngx-mat-file-input>
                  <mat-error *ngIf="fileForm.get('myFile').hasError('maxSize')">
                    El archivo muy grande
                  </mat-error>
                  <mat-hint align="start"
                    ><strong>Tamaño Maximo del archivo {{ MaxSize }}MB</strong>
                  </mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div
              *ngIf="action === 'edit'"
              class="col-xl-2 col-lg-2 col-md-2 col-sm-2"
            >
              <button
                mat-raised-button
                color="primary"
                [type]="submit"
                [disabled]="!fileForm.valid"
                (click)="addFile()"
              >
                Actualizar archivo
              </button>
            </div>
          </div>
        </form>
        <br />
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row">
              <button
                mat-raised-button
                [disabled]="!workerForm.valid"
                color="primary"
                [type]="submit"
                [mat-dialog-close]
                (click)="confirmAdd($event)"
              >
                {{ action === "edit" ? "Modificar" : "Guardar" }}
              </button>
              <button
                mat-raised-button
                color="warn"
                (click)="onNoClick()"
                tabindex="-1"
              >
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
