<!-- <nav class="navbar">
  <div class="container-fluid">
    <div class="navbar">
      <a class="navbar-brand" routerLink="/dashboard/main">
        <img src="assets/images/logo.png" alt="" />
        <span class="logo-name">IMVITRACV</span>
      </a>
    </div>
  </div>
</nav> -->

<mat-toolbar>
  <button mat-button routerLink="/workers">
    <img src="assets/images/logo.png" alt="" />
    <span class="logo-name">IMVITRACV</span>
  </button>
</mat-toolbar>

<div class="littlelower">
  <div class="container-fluid" *ngIf="workerData; else loading">
    <!-- Your content goes here  -->
    <div class="card">
      <div class="m-b-20">
        <div class="contact-grid">
          <div
            [ngClass]="'profile-header bg-' + colorTag[workerData.workerType]"
          >
            <div class="user-name">
              {{ workerData.firstName }} {{ workerData.firstLastname }}
            </div>
            <div class="name-center">
              Estatus {{ status[workerData.status] }}
            </div>
          </div>
          <!-- <ng-template> -->

          <div *ngIf="workerData.linkPhoto; else noPic">
            <img
              [src]="workerData.linkPhoto"
              class="user-img"
              id="photo"
              alt="assets/images/logo.png"
            />
          </div>

          <ng-template #noPic>
            <img
              src="assets/images/user/notPhoto.png"
              alt="Error"
              class="user-img"
              id="photo"
              alt=""
            />
          </ng-template>
          <!-- </ng-template> -->
          <h3>
            {{ workerType[workerData.workerType] }}
            <br />
          </h3>
          <div>
            <span class="phone">
              <i class="material-icons">phone</i>{{ workerData.phone }}</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="info">
      <div class="profile">
        <div class="card">
          <mat-tab-group>
            <mat-tab class="members" *ngIf="+workerData.workerType <= 3">
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">face</mat-icon>
                Infomacion
              </ng-template>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="header">
                    <h2><strong>Acerca de</strong></h2>
                  </div>
                  <div class="body">
                    <div class="row">
                      <div class="col-md-3 col-6 b-r">
                        <strong>Nombre completo</strong>
                        <br />
                        <p class="text-muted">
                          {{ workerData.firstName }} {{ workerData.secondName }}
                          {{ workerData.firstLastname }}
                          {{ workerData.secondLastname }}
                        </p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Telefono </strong>
                        <br />
                        <p class="text-muted">{{ workerData.phone }}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Correo Electronico</strong>
                        <br />
                        <p class="text-muted">{{ workerData.email }}</p>
                      </div>
                      <div class="col-md-3 col-6">
                        <strong>Estatus</strong>
                        <br />
                        <p class="text-muted">
                          {{ status[workerData.status] }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="body">
                    <div class="row">
                      <div class="col-md-3 col-6 b-r">
                        <strong> Cedula</strong>
                        <br />
                        <p class="text-muted">{{ workerData.DNI }}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong> Certificado Medico N° </strong>
                        <br />
                        <p class="text-muted">{{ workerData.medical }}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong> Licencia </strong>
                        <br />
                        <p class="text-muted">
                          {{ licence[workerData.license] }}
                        </p>
                      </div>
                      <div class="col-md-3 col-6">
                        <strong> N° de Socio </strong>
                        <br />
                        <p class="text-muted">{{ workerData.membership }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="body">
                  <div class="row">
                    <div class="col-md-3 col-6 b-r">
                      <strong> Ruta</strong>
                      <br />
                      <p class="text-muted">{{ workerData.route }}</p>
                    </div>
                    <div class="col-md-3 col-6 b-r">
                      <strong> Organizacion </strong>
                      <br />
                      <p class="text-muted">{{ workerData.organization }}</p>
                    </div>
                    <div class="col-md-3 col-6 b-r">
                      <strong> Ausencias </strong>
                      <br />
                      <p class="text-muted">{{ workerData.absences }}</p>
                    </div>
                    <div
                      class="col-md-3 col-6"
                      *ngIf="workerData.workerType == 2"
                    >
                      <strong> Tipo </strong>
                      <br />
                      <p class="text-muted">{{ type[workerData.type] }}</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="header">
                  <h2><strong> Direccion </strong></h2>
                </div>
                <div class="body">
                  <p>
                    {{ workerData.address }}
                  </p>
                </div>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="header">
                  <h2><strong> Observaciones </strong></h2>
                </div>
                <div class="body">
                  <p>
                    {{ workerData.observations }}
                  </p>
                </div>
              </div>
            </mat-tab>
            <mat-tab class="Admins" *ngIf="+workerData.workerType > 3">
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">face</mat-icon>
                Infomacion
              </ng-template>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="header">
                    <h2><strong>Acerca de</strong></h2>
                  </div>
                  <div class="body">
                    <div class="row">
                      <div class="col-md-3 col-6 b-r">
                        <strong>Nombre completo</strong>
                        <br />
                        <p class="text-muted">
                          {{ workerData.firstName }} {{ workerData.secondName }}
                          {{ workerData.firstLastname }}
                          {{ workerData.secondLastname }}
                        </p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Telefono </strong>
                        <br />
                        <p class="text-muted">{{ workerData.phone }}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Correo Electronico</strong>
                        <br />
                        <p class="text-muted">{{ workerData.email }}</p>
                      </div>
                      <div class="col-md-3 col-6">
                        <strong>Estatus</strong>
                        <br />
                        <p class="text-muted">
                          {{ status[workerData.status] }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="body">
                    <div class="row">
                      <div class="col-md-3 col-6 b-r">
                        <strong> Cedula</strong>
                        <br />
                        <p class="text-muted">{{ workerData.DNI }}</p>
                      </div>

                      <div class="col-md-3 col-6 b-r">
                        <strong> Grado académico </strong>
                        <br />
                        <p class="text-muted">
                          {{ grade[workerData.license] }}
                        </p>
                      </div>

                      <div class="col-md-3 col-6 b-r">
                        <strong> Cargo </strong>
                        <br />
                        <p class="text-muted">{{ workerData.organization }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="header">
                  <h2><strong> Direccion </strong></h2>
                </div>
                <div class="body">
                  <p>
                    {{ workerData.address }}
                  </p>
                </div>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="header">
                  <h2><strong> Observaciones </strong></h2>
                </div>
                <div class="body">
                  <p>
                    {{ workerData.observations }}
                  </p>
                </div>
              </div>
            </mat-tab>

            <mat-tab class="QrImage">
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2"
                  >settings_overscan</mat-icon
                >
                Codigo Qr
              </ng-template>

              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="header" *ngIf="id > 0">
                    <img
                      [src]="QrImage"
                      width="300"
                      height="300"
                      id="QRLink"
                    />
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>

          <button
            mat-raised-button
            color="primary"
            type="button"
            [disabled]="!userLogged"
            (click)="downloadPdf()"
          >
            Ver PDF
          </button>
        </div>
      </div>


      <div class="carnet" id="carnet" *ngIf="+workerData.workerType <= 3">
        <div class="card" id="card" #card *ngIf="userLogged">
          <div [ngClass]="'worker' + workerData.workerType">
            <div class="row">
              <div class="col-12">
                <p id="code">
                  {{ code(workerData.workerType, workerData.code) }}
                </p>
              </div>

              <div class="col-7" *ngIf="workerData.linkPhoto; else noPic2">
                <img
                  [src]="photoBase64"
                  alt="assets/images/logo.png"
                  id="profile"
                />
              </div>

              <div class="col-5" id="name">
                {{ workerData.firstName.toUpperCase() }} <br />
                {{ workerData.firstLastname.toUpperCase() }}
                <br />
                <br />

                <p id="DNI">V-{{ workerData.DNI }}</p>
              </div>

              <div class="col-7">
                <p id="dates">
                  {{ workerData.dateInit }} <br />
                  {{ workerData.dateEnd }}
                </p>
              </div>
              <!--
              <div class="col-5">
                <img [src]="QRBase64" id="qrcode" />
              </div> -->
              <div class="col-5">
                <img
                  [src]="QrImage"
                  id="qrcode"
                />
              </div>
            </div>
            <ng-template #noPic2>
              <div class="col-7">
                <img
                  src="assets/images/user/notPhoto.png"
                  id="profile"
                  alt=""
                />
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <ngx-spinner
      bdColor="rgb(63,69,95)"
      size="medium"
      color="#0af0d5"
      type="ball-scale-pulse"
      [fullScreen]="true"
    >
      <p style="color: rgb(138, 18, 18)"></p>
    </ngx-spinner>
  </ng-template>
</div>
