.littleMoreDown
  margin-top: 64px

#card
  min-height: 570px
  max-height: 570px
  min-width: 350px
  max-width: 350px
.worker0
  min-height: 570px
  max-height: 570px
  min-width: 350px
  max-width: 350px
  background: url("/assets/images/cert_0.jpg") no-repeat right top
  background-size: 350px 570px
  border-radius: 10px
.worker1
  min-height: 570px
  max-height: 570px
  min-width: 350px
  max-width: 350px
  background: url("/assets/images/cert_1.png") no-repeat right top
  background-size: 350px 570px
  border-radius: 10px
.worker2
  min-height: 570px
  max-height: 570px
  min-width: 350px
  max-width: 350px
  background: url("/assets/images/cert_2.png") no-repeat right top
  background-size: 350px 570px
  border-radius: 10px

#code
  margin-top:134px
  margin-left:221px
  color: #d60303
  font-weight: bold
  font-size: 23px
  font-family: Arial

#photo
  height: 170px
  width: 170px
#profile
  object-fit: cover
  margin-left:20px
  margin-top:11px
  border-radius: 50%
  height: 180px
  width: 170px

#name
  margin-top:23px
  font-weight: bold
  font-family: Arial
  font-size: 18px
  line-height:1.2
  margin-left: inherit
#DNI
  margin-top:2px
  font-weight: bold
   font-family: Arial


#qrcode
  margin-top:41px
  margin-left:-13px
  height:129px
  width:129px
  object-fit: cover

#dates
  margin-top: 145px
  margin-left: 66px
  font-family: Arial
  font-weight: bold
  font-size: 16px
  line-height: 1







