.logo-name
  color: black

.littlelower
  margin-top: 15px

#card
  min-height: 514px
  max-height: 514px
  min-width: 331px
  max-width: 331px
.worker0
  min-height: 514px
  max-height: 514px
  min-width: 331px
  max-width: 331px
  background: url("https://res.cloudinary.com/moisesinc/image/upload/v1648070504/INVITRACV/default_images/cert_0_vswelc.jpg") no-repeat right top
  background-size: 331px 514px
  border-radius: 10px
.worker1
  min-height: 514px
  max-height: 514px
  min-width: 331px
  max-width: 331px
  background: url("https://res.cloudinary.com/moisesinc/image/upload/v1648070504/INVITRACV/default_images/cert_1_jsgxjc.png") no-repeat right top
  background-size: 331px 514px
  border-radius: 10px
.worker2
  min-height: 514px
  max-height: 514px
  min-width: 331px
  max-width: 331px
  background: url("https://res.cloudinary.com/moisesinc/image/upload/v1648070504/INVITRACV/default_images/cert_2_ffwuae.png") no-repeat right top
  background-size: 331px 514px
  border-radius: 10px

.worker3
  min-height: 514px
  max-height: 514px
  min-width: 331px
  max-width: 331px
  background: url("https://res.cloudinary.com/moisesinc/image/upload/v1648070503/INVITRACV/default_images/cert_3_qkmlxn.png") no-repeat right top
  background-size: 331px 514px
  border-radius: 10px

#code
  margin-top: 120px
  margin-left: 208px
  color: #f80000
  font-weight: bold
  font-size: 21px
  font-family: Arial

#photo
  height: 120px
  width: 120px
#profile
  object-fit: cover
  margin-left: 17px
  margin-top: 6px
  border-radius: 50%
  height: 167px
  width: 164px

#name
  margin-top: 15px
  font-weight: bold
  font-family: Arial
  font-size: 18px
  line-height: 1.2
  margin-left: inherit
#DNI
  margin-top: -1px
  font-weight: bold
  margin-left: 10px

#qrcode
  margin-top: 32px
  margin-left: -13px
  height: 123px
  width: 123px
  object-fit: cover

#dates
  margin-top: 129px
  margin-left: 66px
  font-family: Arial
  font-weight: bold
  font-size: 16px
  line-height: 1


mat-toolbar
  background-color: #bdd0df
  display: flex
  justify-content: center
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)




@media (min-width: 768px)
  .info
    display: flex
    flex-direction: row
    gap: 10px

  .profile
    flex-grow: 4
