<section class="content">
  <div class="container-fluid">
    <!-- Widgets -->
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-card2 order-info-box7">
          <div class="info-box7-block">
            <h4 class="m-b-20">Socios</h4>
            <h2 class="text-end"><i class="fas fa-cart-plus float-start"></i><span>0   </span></h2>
            <p class="m-b-0">#######</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-purple order-info-box7">
          <div class="info-box7-block">
            <h4 class="m-b-20">Finalizados</h4>
            <h2 class="text-end"><i class="fas fa-business-time float-start"></i><span>0</span></h2>
            <p class="m-b-0">#####</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-orange order-info-box7">
          <div class="info-box7-block">
            <h4 class="m-b-20">Nuevas ordenes</h4>
            <h2 class="text-end"><i class="fas fa-chart-line float-start"></i><span>0</span></h2>
            <p class="m-b-0">#######</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-card1 order-info-box7">
          <div class="info-box7-block">
            <h4 class="m-b-20">Total</h4>
            <h2 class="text-end"><i class="fas fa-dollar-sign float-start"></i><span>0</span></h2>
            <p class="m-b-0">######</p>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Widgets -->
  </div>
</section>
