<section class="content">
  <div class="container-fluid">
    <!-- Widgets -->
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-card2 order-info-box7">
          <div class="info-box7-block">
            <h4 class="m-b-20">Taxistas</h4>
            <h2 class="text-end"><i class="fas fa-taxi float-start"></i><span>{{cabbie}}  </span></h2>
            <p class="m-b-0">Inscritos</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-purple order-info-box7">
          <div class="info-box7-block">
            <h4 class="m-b-20">Colectores</h4>
            <h2 class="text-end"><i class="fas fa-business-time float-start"></i><span>{{collector}}</span></h2>
            <p class="m-b-0">Inscritos</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-orange order-info-box7">
          <div class="info-box7-block">
            <h4 class="m-b-20">Choferes</h4>
            <h2 class="text-end"><i class="fas fa-bus float-start"></i><span>{{driver}}</span></h2>
            <p class="m-b-0">Inscritos</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-card1 order-info-box7">
          <div class="info-box7-block">
            <h4 class="m-b-20">Socios Totales</h4>
            <h2 class="text-end"><i class="fas fa-user-friends float-start"></i><span>{{allMembers}}</span></h2>
            <p class="m-b-0">Inscritos</p>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Widgets -->
  </div>
</section>
